.UserInfo {
    float: left;
    margin: 0 15px;
    color: #ddd;
}

div#profileImage {
    max-width: 220px;
}
.paidAmount {
    padding: 15px 10px;
    font-size: 30px;
    color: #ff6c9d;
    font-weight: bold;
    height: 60px;
}
.salesCustomer {
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    color: #f3b760;
}
.customerInfoSales, .noCustomerFound, .pleaseWait{
    display: none;
}

.posBox {
    background-color: #fff;
    padding: 15px;
    display: inline-block;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    opacity: .9;
    width: 100%;
}
.posBox:hover {
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    opacity: 1;
}


/* Loader css */
.spinner {
    position: absolute;
    z-index: 9999999;
    margin: 0px auto;
    left: 0px;
    right: 1px;
    width: 94%;
    height: 50px;
    text-align: center;
    font-size: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}
.spinner > div {
    background-color: #489ee7;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
#grid-loader.spinner > div {
    height: 100px;
    width: 8px;
    margin-right: 2px;
    margin-top: 30px;
    top: 50%;
}
.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
#grid-loader.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
#grid-loader.spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
    }
}
@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}
.user-badge .user-badge-avatar img {
    width: 50px !important;
    height: auto;
    border-radius: 4px;
    float: left;
}
.user-badge .user-badge-details {
    margin-left: 20px;
    color: #489ee7;
    font-size: 20px;
    display: inline-block;
}
.user-badge .user-badge-details .amount {
    color: #eac841;
}
.user-badge .user-badge-details p {
    font-style: italic;
    font-size: 14px;
    color: #000;
}
.user-badge .pull-right {
    margin-top: 0px;
}
.user-badge a.btn {
    box-shadow: none !important;
    min-width: 120px;
    height: 35px;
    margin-top: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px !important;
    font-weight: 300 !important;
}
.location-suggestion .details {
    height: 30px;
    width: 200px;
    padding-left: 0px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
}
.location-suggestion .details .name {
    font-size: 14px !important;
    line-height: 26px !important;
}
.itemQtyPOS {
    width: 80px;
    padding: 2px 0 2px 7px;
    height: 24px;
}
.modal-body .select2-container{
    width: 100% !important;
}








