@media (max-width:1279px){

}
@media (max-width:720px){
    #main-container {
        margin-top: 90px !important;
    }
    .hidden-mobile{
        display: none;
    }
.headerUserName{
    display: block !important;
}
    header#header-navbar {
        width: 100%;
    }

    ul.nav-header {
        width: 100%;
    }
    .side-header .h2.text-white {
        float: left;
    }
    header#header-navbar {
        position: absolute !important;
    }


    .ActivityMassage.col-md-4 {
        padding: 0;
        text-align: center;
    }

    .ActivityMassage.col-md-4 a {
        font-size: 14px !important;
    }

    ul.nav-header {
        clear: both;
        margin: 10px 0 0;
        padding: 0;
    }

    .UserInfo {
        float: left;
        margin: 0 15px;
        color: #ddd;
        text-align: center;
    }
    .UserInfo .h3 {
        font-size: 14px;
    }
    .block-content.block-content-full {
        padding-bottom: 20px;
        text-align: left;
        text-indent: 20px;
    }
}
@media (max-width:421px){

}
@media (max-width:381px){

}