#slogan {
    float: right;
    font-size: 30px;
    padding-top: 30px;
    font-weight: bold;
    color: #F00;
}
#slogan {
    float: right;
    font-size: 30px;
    padding-top: 30px;
    font-weight: bold;
    color: #F00;
}
.blink {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.headerNav {
    margin: 0;
    padding: 0;
}
.headerNav li {
    display: inline-block;
    margin-left: 6px;
    border-left: 1px solid #ddd;
    padding: 10px 0 10px 6px;
}
.homeCart a {
    font-size: 14px;
    font-weight: bold;
}

.headerNav li:first-child {
    border: none;
}
.productGit {
    max-width: 220px;
    margin: 0 10px 15px !important;
    padding: 0;
    box-shadow: 0px 1px 1px #ddd;
    padding: 5px;
    clear: both;
    display: inline-block;
    float: none;
}
.productCode {
    position: absolute;
    background: #fff;
    border: 2px solid orange;
    padding: 0px 5px;
    left: 35%;
    top: -5px;
}
.productPriceGroup{
    display: block;
    margin-top: 5px;
    border-top: .1px solid #f1f1f1;
    padding-top: 5px;
    clear: both;
}

.productGit img{
    width: 100%;
}
h3.homeCategoryTitle {
     padding: 15px 0 5px;
     border-bottom: 1px solid #ddd;
     margin-bottom: 10px;
     text-transform: uppercase;
     font-weight: normal;
 }
.homeCategoryTitle a {
    font-size: 16px;
    float: right;
}
.productGit h4 {
    font-size: 16px;
    margin: 5px 0 4px;
    min-height: 38px;
}
.productGit:hover {
    box-shadow: 0px 3px 3px #ddd;
}