@media (max-width:1279px){

}
@media (max-width:720px){

    .nav-header, .nav-header .header-content{
        width: 100%;
    }
    .homeLogo{
        text-align: center;
    }

    .MobilFormStyle .block.block-themed  {
        padding: 10px;
    }
    .homeLogo img {
        width: 60px !important;
        border-radius: 4px !important;
    }
    button.btnMenuMobile {
        position: absolute;
        top: 10px;
    }
    .container {
        margin-top: 100px !important;
    }
    header#header-navbar {
        position: absolute !important;
    }
    .ourPartners{
        display: none;
    }


    .headerNav li {
        display: inline-block;
        margin-left: 6px;
        border-left: none;
        padding: 5px 4px 5px 0px;
    }
    ul.headerNav {
        float: left !important;
    }
    .logo {
        margin-bottom: 10px;
    }

    ul.headerNav {
        float: left !important;
    }
    .logo .bounceIn.animated {
        font-size: 12px;
    }

    .pull-right{
        float:none !important;
    }
    .productGit {
        margin: 0 2% 15px !important;
        max-width: 44%;
        float: left;
        display: initial;
        clear: inherit;
    }
    .block-content.block-content-full {
        padding-bottom: 20px;
        text-align: left;
        text-indent: 20px;
    }
    .homeCart {
        text-align: center;
        margin-bottom: 5px;
    }

}
@media (max-width:421px){


}
@media (max-width:381px){

}